header {
	display: flex;
	width: 1280px;
	height: 680px;

	border: 1px solid black;
}

.icon-and-socials {
	width: 155px;
	height: 100%;
	background-color: #fff;
}

.nav-and-hero {
	width: calc(100% - 155px);
	height: 100%;
	background-image: url('/images/hero-image.png');
	background-color: red;
}

.nav-bar-container {
	width: calc(100% - 54px - 54px);
	height: 48px;
	margin-top: 40px;
}

.flex-row {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.row-justify-center {
	justify-content: center;
}

.nav-items {
	list-style: none;
}

.row-justify-space-between {
	justify-content: space-between;
}

.nav-links {
	color: #fff;
	width: 40%;
}

.nav-link:hover {
	color: #ff6c00;
	cursor: pointer;
}

.nav-contact {
	width: 30%;
	color: #fff;
}

.book-button {
	border: 1px solid #ff6c00;
	background: transparent;
	border-radius: 25px;
	height: 40px;
	color: #fff;
}

.hero-name {
	width: 500px;
	margin: 200px 0px 0px 100px;
	color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#header-text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 72px;
	line-height: 85px;
	/* identical to box height */

	letter-spacing: 0.05em;

	color: #ffffff;
}

.gray-text {
	color: #9da4bd;
}

.test {
	width: 300px;
	height: 300px;

	border: 20px dashed rgb(86, 71, 255);

	margin: 50px;
	padding: 20px;
	background: indianred;
}
